@use "@/styles/variables.scss" as *;

.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 85vh;
	width: 92vw;
	gap: 2rem;
	padding-bottom: 1rem;
}

.screen {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: start;
	gap: 1.5rem;
	width: 100%;
	// min-height: 100%;
	margin-bottom: 3rem;
	padding-bottom: 3rem;
}

/* 내용물 항상 너비 채우기 */
.content {
	min-height: 100%;
	width: 100%;
}
