@use "@/styles/variables.scss" as *;
@use "@/styles/common.scss" as *;

// AddPost.tsx
.wrapper {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

// PostSetting.tsx
.settings {
	@extend .row;
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 1.5rem;
}

.toggles {
	gap: 1.5rem;
	display: flex;
	flex-direction: row;
}

.datePicker {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 0.7rem;
}
