@use "@/styles/variables.scss" as *;

.titleWrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	width: 100%;
	box-sizing: border-box; // 요소의 크기 계산에 border 포함
	padding: 0 5px 5px 0;
	gap: 10px;
	width: 100%;
}

.underlined {
	border-bottom: 2px solid black;
}

.titleIcon {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: 1.4rem;
	padding-left: 17px;
	vertical-align: middle;
}

.titleText {
	font-weight: 600;
	font-size: 1.4rem;
}
