@use "@/styles/variables.scss" as *;

.sidebar {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  height: 100%;
  // width: 200px;
}

// 태블릿 세로 (601px ~ 1024px)
@media (width <= 1024px) {
  .sidebar {
    display: none; // 태블릿 세로에서는 사이드바 숨김
  }
}

@media (width > 600px) and (width <= 1024px) {
}
